// --- Footer Section CSS --- //

.hof-footer {

    .hof-footer--link-heading {
        color: $c-chalk-white;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    .hof-footer--link,
    .hof-footer--text {
        color: $c-beige;
        font-weight: 400;
        line-height: 1.25;
        margin-bottom: 1.25rem;
    }
}

.hof-footer {
    overflow: hidden;

    .hof-footer__upper {
        margin-bottom: 3rem;
    }

    a {
        &.hof-footer__link--privacy {
            &:hover {
                text-decoration: none;
            }
        }

        &.hof-footer__link {
            padding-left: 0;
            transition: 0.3s cubic-bezier(0.6, 0.6, 0.6, 1);
    
            &:hover {
                padding-left: 0.5rem;
                text-decoration: none;
            }
        }
    }

    .hof-footer__upper--logo {
        svg {
            height: 48px;
            
            @include media-breakpoint-up(lg) {
                height: 64px;
            }
        } 
    }

    .hof-footer__upper--socials {
        a {
            padding-bottom: 0;
            transition: 0.3s cubic-bezier(0.6, 0.6, 0.6, 1);

            &:hover {
                padding-bottom: 0.5rem;
            }
        }
    }

    .hof-footer__lower--text {
        color: $c-white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .hof-footer__lower--input {
        background-color: $c-dark-green;
        border: 1px solid $c-white;
        color: $c-white;
        font-size: 24px;
        padding: 8px 32px;

        &::placeholder {
            color: $c-white;
        }
    }
}

// --- End of Footer Section CSS --- //
