// --- Header Section CSS --- //

header {
    position: absolute;
    width: 100%;
    z-index: 100;
}

.hof-main-navigation--logo {
    svg {
        height: 48px;

        .dark-element {
            transition: 0.3s ease-in-out;
        }
        
        @include media-breakpoint-up(lg) {
            height: 64px;
        }
    }
}

.hof-main-navigation {
    padding-bottom: 16px;
    padding-top: 16px;

    @include media-breakpoint-up(lg) {
        padding-bottom: 32px;
        padding-top: 32px;
    }

    .hof-main-navigation--link {
        color: $c-brown;   
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin-left: 64px;
        text-transform: uppercase;

        @include media-breakpoint-up(xxl) {
            margin-left: 96px;
        }

        &.white {
            color: $c-chalk-white;   
        }
    }
    
    .hof-main-navigation--logo:hover {
        .dark-element {
            fill: $c-pink;
        }
    }

    .hof-main-navigation--burger {
        svg {
            fill: $c-brown;
        }

        &.white {
            svg {
                fill: $c-chalk-white;
            }
        }

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }

    .hof-main-navigation--close,
    .hof-main-navigation--burger {
        cursor: pointer;
    }
}

.hof-mobile-navigation {
    background-color: $c-dark-brown;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    right: -105vw;
    width: 100%;
    z-index: 100;

    &.open {
        right: 0;
    }

    .hof-mobile-navigation__middle--link {
        color: $c-chalk-white;
        display: inline-block;
        font-size: 3rem;
        font-family: $ff-p90;
        font-weight: 400;
        line-height: 3rem;
        margin-bottom: 3rem;
    }

    @include media-breakpoint-up(xl) {
        display: none;
    }

}

// --- End of Header Section CSS --- //
