// --- Color Variables --- //

$c-beige:       #DED6C6;
$c-black:       #000000;
$c-dark-green:  #444C3D;
$c-light-beige: #FCF4E5;
$c-light-pink:  #F8D1CE;
$c-pink:        #DB9995;
$c-white:       #FFFFFF;
