// --- Color Variables --- //

$c-white:       #FFFFFF;
$c-chalk-white: #F5F3F0;
$c-light-beige: #FCF4E5;
$c-beige:       #E8E5DE;

$c-light-pink:  #F8D1CE;
$c-pink:        #DB9995;

$c-dark-green:  #444C3D;
$c-light-green: #CBC69C;

$c-brown:       #372120;
$c-dark-brown:  #291918;

$c-black:       #000000;