// --- Banner Component CSS --- //

.hof-banner {
    overflow: hidden;
    position: relative;
    text-align: left;

    .hof-banner--height {
        display: flex;
        flex-direction: column;
        height: calc(100vh);
        position: relative;
        
        @include media-breakpoint-up(lg) {
            height: calc(100vh);
        }
    }

    .hof-banner--image {
    }
}

// --- End of Component CSS --- //
