// --- Banner Component CSS --- //

.hof-banner {
    overflow: hidden;
    position: relative;
    text-align: left;

    .hof-banner--height {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 80px);
        position: relative;
        
        @include media-breakpoint-up(lg) {
            height: calc(100vh - 128px);
        }
    }

    .container {
        position: relative;
        z-index: 10;
    }

    .hof-banner--image {
        border-radius: 99rem 0 0 0;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        width: 100%;
        z-index: 1;

        @include media-breakpoint-up(lg) {
            bottom: 0;
            height: 100%;
            display: block;
            position: absolute;
            right: 0;
            width: auto;
        }
    }
}

// --- End of Component CSS --- //
