// --- Blog Component CSS --- //

.hof-blog {
    color: $c-brown;

    .hof-blog__card {
        img {
            height: 320px;
            object-fit: cover;
            width: 100%;

            @include media-breakpoint-up(md) {
                height: 480px;
            }
        }

        .hof-blog__card--content {
            color: $c-brown;
        }
    }

    a:hover {
        text-decoration: none;
    }
}

// --- End of Component CSS --- //
