// --- Blog Component CSS --- //

.hof-blog {
    a {
        color: $c-dark-green;
    }

    .hof-blog__card--top {
        img {
            height: 256px;
            object-fit: cover;
            width: 100%;
        }
        
        .hof-blog__card--content {

        }
    }

    .hof-blog__card {
        img {
            height: 256px;
            object-fit: cover;
            width: 100%;
        }

        .hof-blog__card--content {

        }
    }
}

// --- End of Component CSS --- //
