// --- CTA Component CSS --- //

.hof-cta-bar {
    .hof-cta-bar__content {
        color: $c-dark-green;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 3rem;
        
        @include media-breakpoint-up(lg) {
            margin-bottom: 4rem;
        }
    }
}

// --- End of Component CSS --- //
