// --- CTA Component CSS --- //

.hof-cta-bar {
    .hof-cta-bar__content {
        color: $c-dark-green;
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 3rem;
        
        @include media-breakpoint-up(lg) {
            margin-bottom: 4rem;
        }
    }

    .hof-cta-bar--img {
        height: 400px;
        width: 100%;
    }

    .hof-cta-bar--btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}

// --- End of Component CSS --- //
