// --- CTA Component CSS --- //

.hof-cta-bar {
    overflow: hidden;
    padding-bottom: 120px;
    position: relative;

    .hof-cta-bar__illustration--1 {
        display: none;
        position: absolute;
        bottom: -1rem;
        left: 2rem;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }

    .hof-cta-bar__illustration--2 {
        display: none;
        position: absolute;
        bottom: -1rem;
        right: 2rem;

        @include media-breakpoint-up(lg) {
            display: block;
        }
    }
}

// --- End of Component CSS --- //
