// --- Instagram Component CSS --- //

.hof-instagram {
    border-top: 1px solid #A3AFA5;

    .hof-btn-dark-green--outline {
        font-family: $ff-p90;
        font-size: 40px;
        padding: 10px 16px;
    }
}

// --- End of Component CSS --- //
