// --- Partners Component CSS --- //

.hof-partners {
    .hof-partners-logo-col {
        position: relative;
        width: 100%;
        padding-left: .75rem;
        padding-right: .75rem;
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
        margin: auto;

        @include media-breakpoint-up(md) {
            flex: 0 0 25%;
            max-width: 25%;
            margin: unset;
        }

        @include media-breakpoint-up(xl) {
            flex: 0 0 20%;
            max-width: 20%;
        }

        img {
            @extend .img-fluid;
            
            mix-blend-mode: darken;
        }
    }
}

// --- End of Component CSS --- //
