// --- Services Component CSS --- //

.hof-services {
    position: relative;
    
    .hof-services--heading {
        font-family: $ff-p90;
    }

    .hof-services__content {
        font-size: 1rem;
    }
    
    .hof-services--image {
        object-fit: cover;
        height: 256px;
        width: 100%;

        @include media-breakpoint-up(md) {
            height: 100%;
        }
    }
}

// --- End of Component CSS --- //
