// --- Testimonials Component CSS --- //

.hof-testimonials {

    .hof-testimonial-carousel--item {
        text-align: left;

        @include media-breakpoint-up(lg) {
            height: 640px;
        }

        @include media-breakpoint-up(xl) {
            height: 464px;
        }
    }

    .owl-dots {
        margin-top: 1rem;
        text-align: center;
        
        @include media-breakpoint-up(lg) {
            margin-top: 2rem;
        }

        .owl-dot {
            border: 2px solid $c-brown;
            border-radius: 99rem;
            height: 0.75rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            width: 0.75rem;

            &.active {
                background-color: $c-brown;
            }
        }
    }
}

// --- End of Component CSS --- //
